<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

	{% block head %}
	{% endblock %}
</head>
<body>
	
	<header>Header</header>

	
	<section class="main">
		<div class="routes_links">
			<a href="{{ url_for('toZeroView') }}">to Zero</a>
			<a href="{{ url_for('plusPlusView') }}">to Plus</a>
			<a href="{{ url_for('minusMinusView') }}">to Minus</a>
		</div>

		<div class="lich">
			<h3>Моє значення лічильника: <span>{{ lich }}</span></h3>
		</div>
		{% if message != None %}
			<div class="message">
				{{ message }}
			</div>
		{% endif %}



		{% block body %}
		{% endblock %}
	</section>


	<footer>Footer</footer>
</body>
</html>